section {
  padding: 100px 0;
}

.d {
  padding: 5px 10px;
  font-size: 16px;
  color: #ffffff;
  background: #3f51b5;
  border-radius: 30px;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-size: 17px;
  font-weight: 400;
  background-color: #eeeeee;
}

h1 {
  font-size: 200%;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
}

header p {
  margin-top: -30px;
  margin-bottom: 0;
  font-size: 60px;
  color: rgba(255, 255, 255, 0.2);
}

.timeline {
  position: relative;
}

.timeline::before {
  position: absolute;
  left: 50%;
  width: 5px;
  height: 95%;
  content: "";
  background: #adb4ea;
  transform: translateX(-50%);
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;
}

.timeline-item:nth-child(even) .timeline-content {
  float: right;
  padding: 40px 30px 10px 30px;
}

.timeline-item:nth-child(even) .timeline-content .date {
  right: auto;
  left: 0;
}

.timeline-item:nth-child(even) .timeline-content::after {
  position: absolute;
  top: 30px;
  left: -15px;
  width: 0;
  height: 0;
  content: "";
  border-color: transparent #f5f5f5 transparent transparent;
  border-style: solid;
  border-width: 10px 15px 10px 0;
}

.timeline-item::after {
  display: block;
  clear: both;
  content: "";
}

html:lang(ar-EG) .timeline-item {
  width: 100%;
  margin-bottom: 70px;
}

html:lang(ar-EG) .timeline-item:nth-child(even) .timeline-content {
  float: left;
  padding: 40px 30px 10px 30px;
}

html:lang(ar-EG) .timeline-item:nth-child(even) .timeline-content .date {
  right: auto;
  left: 0;
}

html:lang(ar-EG) .timeline-item:nth-child(even) .timeline-content::after {
  position: absolute;
  top: 30px;
  left: -15px;
  width: 0;
  height: 0;
  content: "";
  border-color: transparent #f5f5f5 transparent transparent;
  border-style: solid;
  border-width: 10px 15px 10px 0;
}

html:lang(ar-EG) .timeline-item::after {
  display: block;
  clear: both;
  content: "";
}

.timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  background: #f5f5f5;
  border-radius: 4px;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}

.timeline-content::after {
  position: absolute;
  top: 30px;
  right: -15px;
  width: 0;
  height: 0;
  content: "";
  border-color: transparent transparent transparent #f5f5f5;
  border-style: solid;
  border-width: 10px 0 10px 15px;
}

.timeline-img {
  position: absolute;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: 25px;
  margin-left: -15px;
  background: #3f51b5;
  border-radius: 50%;
}

.timeline-card {
  padding: 0 !important;
}

.timeline-card p {
  padding: 0 20px;
}

.timeline-card a {
  margin-left: 20px;
}

.timeline-item .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
    url("https://picsum.photos/1000/800/?random") center center no-repeat;
  background-size: cover;
}

.timeline-img-header {
  position: relative;
  height: 200px;
  margin-bottom: 20px;
}

.timeline-img-header h2 {
  position: absolute;
  bottom: 5px;
  left: 20px;
  color: #ffffff;
}

blockquote {
  padding: 0 20px;
  margin-top: 30px;
  color: #757575;
  border-left-color: #3f51b5;
}

.date {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  padding: 5px 10px;
  color: #ffffff;
  background: #f36b7f;
}

@media screen and (max-width: 768px) {
  .timeline::before {
    left: 50px;
  }

  .timeline .timeline-img {
    left: 50px;
  }

  .timeline .timeline-content {
    width: auto;
    max-width: 100%;
    margin-left: 70px;
  }

  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }

  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    position: absolute;
    top: 30px;
    left: -15px;
    width: 0;
    height: 0;
    content: "";
    border-color: transparent #f5f5f5 transparent transparent;
    border-style: solid;
    border-width: 10px 15px 10px 0;
  }
}
